### (d)

In [2]:
library(mvtnorm)

In [10]:
n =1000
set.seed(10)
mu = c(0, 0, 0)
A <- array(c(1, 0.5, 0.5, 0.5, 1,  0.5, 0.5, 0.5, 1 ), dim=c(3,3))
w = rmvnorm(n, mu, A)
u0 = w[,1]
u1 = w[,2]
v = w[,3]

x = rbinom(n = 1000, size = 1, prob = 0.5)
y0 = 1 + x + u0
y1 = 2 + x + u1

xv = x+v
indicator<-function(val) ifelse(val>0,1,0)
d = indicator(xv)
y=d*y1 + (1-d)*y0

In [11]:
#data set
df = data.frame(y0,y1, d, x)
head(df)

         y0       y1 d x
1 1.6510196 2.507478 0 1
2 0.5963996 2.228350 1 0
3 0.3918852 1.988966 0 1
4 1.1960212 3.156455 1 0
5 2.1828815 4.049567 1 1
6 1.8131576 2.074732 1 1

In [12]:
#ATE
print("ATE is")
mean(df$y1 - df$y0)

[1] "ATE is"

[1] 1.038185

In [13]:
#ATT
df2 = subset(df, d==1, c(y0, y1))
print("ATT is")
mean(df2$y1 - df2$y0)

[1] "ATT is"

[1] 1.024115

** As you can seem ATT and ATE are different values. **

### (e)

** 
Yes. As you can see in the var-cov matrix, the effect v on u0 is larger than that on u1.   
Therefore, it becomes $$  ATT = E[u_{1i}| X] - E[u_{0i}| X] >0$$ where it was $$  ATT = E[u_{1i}| X] - E[u_{0i}| X] = 0$$ in (c)
,and because of this ATT is smaller than that of (c). Thus, ATT will be smaller than ATE.
**

In [16]:
n =1000
set.seed(10)
mu = c(0, 0, 0)
A <- array(c(1, 0.5, 0.5, 0.5, 1,  0, 0.5, 0, 1 ), dim=c(3,3))
w = rmvnorm(n, mu, A)
u0 = w[,1]
u1 = w[,2]
v = w[,3]

x = rbinom(n = 1000, size = 1, prob = 0.5)
y0 = 1 + x + u0
y1 = 2 + x + u1

xv = x+v
indicator<-function(val) ifelse(val>0,1,0)
d = indicator(xv)
y=d*y1 + (1-d)*y0
    
#data set
df = data.frame(y0,y1, d, x)
head(df)

         y0       y1 d x
1 1.5963815 2.880026 0 1
2 0.6316221 2.106365 1 0
3 0.3452987 2.385174 0 1
4 1.2656972 2.961678 1 0
5 2.2477202 3.857179 1 1
6 1.7713329 2.113006 1 1

In [15]:
#ATE
print("ATE is")
mean(df$y1 - df$y0)

#ATT
df2 = subset(df, d==1, c(y0, y1))
print("ATT is")
mean(df2$y1 - df2$y0)

[1] "ATE is"

[1] 1.025258

[1] "ATT"

[1] 0.7721556

** Obviously ATT is smaller than ATE. **

### (f)

** Yes.  
ATE is  
    $$ E(y_1 - y_0 | x_i =0 ) = E(1 + u_{1i} - u_{0i} | x_i =0 )  = 1$$
and ATT is
    $$ E(y_1 - y_0 | x_i =0, D = 1 ) = E(1 + u_{1i} - u_{0i} | x_i =0, D =1 )  \\
    = 1 + E(u_{1i}| v_i >0 )- E(u_{0i} | v_i >0) $$
From the var-cov matrix $E(u_{1i}| v_i >0 )< E(u_{0i} | v_i >0)$ ,so the ATT will be smaller than the ATE.
**

In [30]:
#ATE
df2 = subset(df, x==0, c(y0, y1, d, x))
print("ATE")
mean(df2$y1 - df2$y0)

#ATT
df3 = subset(df, d==1 & x ==0 , c(y0, y1,d,x))
print("ATT")
mean(df3$y1 - df3$y0)

[1] "ATE"

[1] 1.009776

[1] "ATT"

[1] 0.6309575

### (g)

**Below, I am going to held a z-test to see i**

In [19]:
df4 = subset(df, d==1 , c(y0, y1,d,x))
df5 = subset(df, d==0 , c(y0, y1,d,x))

In [29]:
d1 = table(df4$x==1)
d0 = table(df5$x==1)
print("TRUE shows the number of x=1,where d =1.")
print(d1)
print("TRUE shows the number of x=1,where d =0.")
print(d0)
prop.test(c(d1[2],d0[2]),c(d1[1]+ d1[2], d0[1]+ d0[2]))

[1] "TRUE shows the number of x=1,where d =1."

FALSE  TRUE
  254   421
[1] "TRUE shows the number of x=1,where d =0."

FALSE  TRUE
  232    93

	2-sample test for equality of proportions with continuity correction

data:  c(d1[2], d0[2]) out of c(d1[1] + d1[2], d0[1] + d0[2])
X-squared = 98.714, df = 1, p-value < 2.2e-16
alternative hypothesis: two.sided
95 percent confidence interval:
 0.2740324 0.4010673
sample estimates:
   prop 1    prop 2
0.6237037 0.2861538

** Since the p-value is 2.2e-16, we can see that their distributions diifer.   
This means that the treatment is not randomized, as it seems obviouos.**

## 4

### (a)

    clear
    set seed 10

    //a

    matrix M = 0, 0, 0
    matrix V = (1, 0.5, 0 \ 0.5, 1, 0 \ 0, 0, 1)
    drawnorm u0 u1 v, n(1000) cov(V) means(M)
    gen x = rbinomial(1, .5)

    gen y0 = 1 + x + u0
    gen y1 = 2 + x + u1
    gen d = x + v

    //Indicatour func.
    replace d = 1 if d > 0
    replace d = 0 if d != 1

    gen y = d * y1 + (1 - d) * y0

    //Calc ATT
    psmatch2 d x, out(y)

![](4a.png)

** ATT is 1.07715783 **


### (b)

**
    Use [kerneltype(type)]
**
### (c)

**
    Use [bwidth(real_number)]
**

### (d)
    clear

    matrix M = 0, 0, 0
    matrix V = (1, 0.5, 0.5 \ 0.5, 1, 0.5 \ 0.5, 0.5, 1)
    drawnorm u0 u1 v, n(1000) cov(V) means(M)
    gen x = rbinomial(1, .5)

    gen y0 = 1 + x + u0
    gen y1 = 2 + x + u1
    gen d = x + v

    //Indicatour func.
    replace d = 1 if d > 0
    replace d = 0 if d != 1

    gen y = d * y1 + (1 - d) * y0

    //Calc ATT
    psmatch2 i.d x, out(y)

![](4d.png)

** ATT is 2.22339743 **

## 3


### (a)

    clear

    matrix M = 0, 0, 0
    matrix V = (1, 0.5, 0.5 \ 0.5, 1, 0 \ 0.5, 0, 1)
    drawnorm u0 u1 v, n(1000) cov(V) means(M)
    gen x = rbinomial(1, .5)

    gen y0 = 1 + x + u0
    gen y1 = 2 + x + u1
    gen d = x + v

    //Indicatour func.
    replace d = 1 if d > 0
    replace d = 0 if d != 1

    gen y = d * y1 + (1 - d) * y0
    gen Z = rbinomial(1, 0.5)
    gen yz = y

    replace yz = y0 if Z == 0
    replace d = 0 if Z == 0

### (b)

    ivreg yz (d = Z)
![](3b.png)

**Here the ATT is 0.7074299.**

### (c) 

** Divide the data into two groups where x= 0 and x=1, and then estimate ATT respectively using Bloom's idea.  **

    mean(dif) if d == 1
    ivreg yz (d = Z) if x == 1
![](3c0.png)
![](3c1.png)

### (d)
** Using a def. of ATT. **

    gen dif = y1- y0
    mean(dif) if x == 1
    mean(dif) if x == 0
![](3d.png)

**The values above are close to that of c, so it seems that they are consistent.**
    
### (e)
**Compare the two results below.**

    mean(y0) if d == 0
    mean(y0) if d == 1
![](3e.png)

**As you see  **

$$ E(y_0 | D =1 ) \neq E(y_0 | D =1 ) $$

## 6 ** (a) **  
## 7 **(a)**

## 2

### (a)
**Asume a two periods model as follows.  (Below I omit a subscript i for a visibility.)**

**Period 1**
$$
y_{01} = 1 + x + d_1 \\
y_{11} = 2 + x + d_1 \\
$$
**Period 2**
$$
y_{02} = 1 + x+ d_2 \\
y_{12} =  2 + x + d_2 \\
$$

**where  **
$$
d = 1\{ x + v>0 \} \\
v \sim N(0, 1) \\
d1 \sim N(0, 1) \\
d2 \sim N(1, 1)
$$ 
**Note that there is a correlation between the error term d and thep eriods.  In period 1 the mean of d(= d1) is 0 where in period2 (=d2) it is 1.**

#### Matching method
$
E[1+x+d1, 1+x+d2 | D =1] = 1+E[x]+E[\frac{d1+d2}{2} | D =1] = 1.5+E[x] 
$  
$\because E[d1] = 0 , E[d2] = 1$  
$
E[2+x+d1, 2+x+d2 | D =1] = 2+E[x]+E[\frac{d1+d2}{2} | D =1]  = 2.5 +E[x] 
$  
$\because E[d1] = 0 , E[d2] = 1$

**The avove two equations are inequal, so matching method does not hold in this model.**

#### Difference in diiferences

$$ 
E[y_{02} - y_{01} | D =0] = E[(1 + x + d2) - (1 + x + d1) | D=0 ] \\
= E[d2 | D=0] - E[d1 | D=0] = 1- 0 = 1
$$
$$
E[y_{02} - y_{01} | D =0] = E[(1 + x + d2) - (1 + x + d1) | D=1] \\
= E[d2 | D=1] - E[d1 | D=1] = 1- 0 = 1
$$

**The avove two equations are equal, so difference in diiferences does  hold in this model.**

### (b)
**Below I am going to verify (a) using the model I made.  In this model x is generated by the same argorytm used in 1.**

In [73]:
n =1000
# set.seed(10)

v =  rnorm(n=n, mean = 0, sd = 1)

d1 = rnorm(n=n, mean = 0, sd = 1)
d2 = rnorm(n=n, mean = 1, sd = 1)

x = rbinom(n = 1000, size = 1, prob = 0.5)

#Period1
y01 = 1 + x + d1
y11 = 2 + x + d1

#Period2
y02 = 1 + x + d2
y12 = 2 + x + d2

xv = x+v
indicator<-function(val) ifelse(val>0,1,0)
d = indicator(xv)
y=d*y1 + (1-d)*y0
    
    
    #data set

In [74]:
    #data set
df_1 = data.frame(y01,y11, d, x)
df_2 = data.frame(y02,y12, d, x)
head(df_1)
head(df_2)

         y01       y11 d x
1  2.4805395 3.4805395 1 1
2  0.7562054 1.7562054 1 1
3  2.3393968 3.3393968 1 1
4  2.2019361 3.2019361 1 1
5 -0.8470117 0.1529883 1 0
6  3.5225549 4.5225549 1 1

       y02      y12 d x
1 2.847093 3.847093 1 1
2 4.576914 5.576914 1 1
3 4.055762 5.055762 1 1
4 2.758067 3.758067 1 1
5 2.197610 3.197610 1 0
6 2.774859 3.774859 1 1

In [75]:
#Matching method
df_int = t(cbind(t(df_2),t(df_1)))

colnames(df_int) <- c("y0","y1","d","x")
head(df_int)

           y0       y1 d x
[1,] 2.847093 3.847093 1 1
[2,] 4.576914 5.576914 1 1
[3,] 4.055762 5.055762 1 1
[4,] 2.758067 3.758067 1 1
[5,] 2.197610 3.197610 1 0
[6,] 2.774859 3.774859 1 1

In [76]:
df_int2 = as.data.frame(subset(df_int, d==1 , c(y0, y1,d,x)))
# df_int3 = as.data.frame(subset(df_int, d==1 , c(y0, y1,d,x)))
head(df_int2)
mean(df_int2$y0)
#
mean(df_int2$y1)

        y0       y1 d x
1 2.847093 3.847093 1 1
2 4.576914 5.576914 1 1
3 4.055762 5.055762 1 1
4 2.758067 3.758067 1 1
5 2.197610 3.197610 1 0
6 2.774859 3.774859 1 1

[1] 2.104302

[1] 3.104302

**Obviously the two vallues above are different.**

In [77]:
#Difference in diiferences
df_10 = subset(df_1, d==0 )
df_20 = subset(df_2, d==0 )
df_11 = subset(df_1, d==1 )
df_21 = subset(df_2, d==1)
mean(df_20$y02 - df_10$y01)
mean(df_21$y02 - df_11$y01)

[1] 1.090347

[1] 1.008171

**Obviously the two vallues above are almost same.**